.container {
  display: flex; 
}
.carousel-container {
  max-width: 100vw;
  max-height: 100vh;
}
.carousel-slide {
  position: relative;
}
.carousel-slide img {
  object-fit: cover;
  border-radius: 0px;
  width: 100vw;
  height: 100vh;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
.overlayContent {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-end; 
  text-align: right;
  color:var(--tertiary-color);
  margin-top: 300px;
  margin-left: 300px;
}
.text {
  font-size:48px;
  margin-bottom: 50px;
  font-family: var(--tertiary-title-font);
  font-size: var(--tertiary-title-size); 
  font-weight: var(--tertiary-title-weight);
}
.button {
  padding: 0px;
  background-color: var(--secondary-color);
  font-size: 22px;
  color: var(--primary-color);
  font-weight: var(--secondary-title-weight);
  cursor: pointer;
  border-radius: 40px;
  width: 200px;
  height: 50px;
  border: 0px solid var(--tertiary-color);
}
.navigation-dots {
  position:absolute;
  bottom: 20px;
  left: 75%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
  border: 3px solid var(--tertiary-color);
}
.dot:hover {
  background-color: transparent;
}
.activeDot {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .carousel-slide img {
    width: 100%;
    height: auto;
  }
  .overlay {
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding: 10px; 
  }

  .overlayContent {
    align-items: center; 
    text-align: center;
  }

  .text {
    font-size: 24px; 
    margin-bottom: 5px;
  }

  .button {
    font-size: 18px; 
    width: 150px; 
    height: 40px;
  }
  .navigation-dots {
    position:absolute;
    bottom: 20px;
    left: 75%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    border: 3px solid var(--tertiary-color);
  }
  .dot:hover {
    background-color: transparent;
  }
  .activeDot {
    background-color: var(--secondary-color);
  }
}