.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: var(--primary-color);
  border-bottom: 0px solid var( --tertiary-color);
  max-width: 100vw;
  height: 180px;
  font-family: var(--main-menu-font);
  font-weight: var(--main-menu-weight);
  font-size: var(--main-menu-size);
  color: var(--tertiary-color);
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.menu {
  position: absolute;
  right: 0;
  bottom: 0;
}
.menuButton {
  display:none;
  bottom: 3.1rem;
  background-color: transparent;
  border: none;
  color: var(--tertiary-color);
  font-size:  3.1rem;
  cursor: pointer;
  position:absolute;
  right: 5rem;
} 
.nav {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  right: 5rem;
}
.nav a {
  text-decoration: none;
  color: var(--tertiary-color);
}
.logo{
  position: relative;
  width: 12rem;
  height: 12rem;
  z-index:5;
}

@media screen and (min-width: 769px) {
  .menuButton {
    display: none;
  }
  .nav a {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .menuButton {
    display: block;
  }
  .nav a {
    display: none;
  }
}

